.toolbar-icon {
    padding: 0 30px;
    cursor: pointer;
  }
  
.toolbar-spacer {
    flex: 1 1 auto;
}

.form{
    width: 80%;
    margin: auto;
}

.full-width{
    width: 100%;
    margin: 10px auto;
}